.vs
File-Tool\bin
File-Tool\obj
File-Tool/bin/Debug/File-Tool.exe
File-Tool/bin/Debug/File-Tool.pdb
File-Tool/obj/Debug/File-Tool.csproj.FileListAbsolute.txt
File-Tool/obj/Debug/File-Tool.csproj.FileListAbsolute.txt
File-Tool/obj/Debug/File-Tool.csproj.GenerateResource.cache
File-Tool/obj/Debug/File-Tool.csprojAssemblyReference.cache
File-Tool/obj/Debug/File-Tool.exe
File-Tool/obj/Debug/File-Tool.csproj.FileListAbsolute.txt
File-Tool/obj/Debug/File-Tool.csproj.CoreCompileInputs.cache
File-Tool/obj/Debug/File-Tool.pdb
File-Tool/obj/Debug/File-Tool_MarkupCompile.cache
